[2012-11-15 16:11] btoews opened #1 "tests"
figure out how to do tests

[2012-11-15 18:41] Lukasa opened #2 "Repo structure"
So, we should try to make sure that all of the repositories under this org are of the same form. The easiest way to do this is to make sure they all conform to [Kenneth's suggested repo structure](http://kennethreitz.com/repository-structure-and-python.html).

For those who aren't bothered about clicking through and reading, the things we need here are:
- `LICENSE`(we should license under the same

[2012-11-15 22:46] #2 closed, assigned to nobody

[2012-11-16 14:48] #1 closed, assigned to nobody

[2012-11-21 06:37] davidfischer opened #4 "Upload to pypi"
Let's upload this to pypi. Everything seems to be in place. If I can help somehow, I'm happy to help.

[2012-11-26 18:48] #4 closed, assigned to btoews

[2013-01-03 19:35] Vye opened #5 "requests dependency v1.0.x breaks requests-ntlm"
I tried out requests-ntlm today for the first time and got the error below.

My environment:
Python 2.7
requests-ntlm v0.0.1
python-ntlm v1.0.1
requests v1.0.4

Code:

[code]

Traceback:

[code]

The first thing I did was run your test suite, which showed the same error. I rolled back requests one release at a time running your tests on each one and found that I started getting a different error o

[2013-01-07 17:52] #5 closed, assigned to nobody

[2013-01-07 19:47] Vye opened #7 "v0.0.2 pypi package can't find LICENSE file during setup"
Thanks for the effort getting version 0.0.2 out.

The pypi package that was created for this update (v0.0.2) can't find the LICENSE file during setup.

[code]

[2013-01-07 20:01] #7 closed, assigned to nobody

[2013-01-15 17:47] averagesecurityguy opened #8 "Retry not working for 401 Unauthorized"
I am using requests 1.1.0 and the requests-ntlm library to authenticate to a sharepoint server. I am watching the traffic in ZAP and I can see the request to server and the response showing a 401 Unauthorized  along with WWW-Authenticate: NTLM but I do not see the rest of the authentication attempt. Any thoughts.

[2013-01-15 18:09] #8 closed, assigned to nobody

[2013-04-15 09:17] ecederstrand opened #10 "TypeError: response_hook() got an unexpected keyword argument 'verify'"
Newer versions of requests send additional keyword arguments to response hooks, resulting in this error when I run the README example:

[code]

The below patch is a quick fix, but probably the additional keywords should be passed on to the HTTPAdapter.

[code]

[2013-04-15 15:01] #10 closed, assigned to Lukasa

[2013-05-26 07:48] johnsheehan opened #13 "Insert challenge responses into response.history?"
The built-in digest auth handler inserts the un-authed challenge responses into response.history: https://github.com/kennethreitz/requests/blob/master/requests/auth.py#L165

If possible, that would be great for this too (I may start work on it soon, but wanted to get it registered)

[2013-05-31 07:54] #13 closed, assigned to nobody

[2013-05-31 08:06] Lukasa opened #15 "Add python-ntlm to setup.py"
Currently when you run `pip install requests-ntlm`, you don't get python-ntlm. This is because setup.py doesn't include it. We should update setup.py to do that.

[2013-05-31 08:10] Lukasa opened #16 "Push new release"
The current release available on PyPI doesn't work with the current version of Requests. I'm pretty sure we have the needed fixes in the master branch, so after we resolve #15 I think we should release a new version of this library.

[2013-05-31 17:41] #15 closed, assigned to Lukasa

[2013-05-31 18:38] #16 closed, assigned to nobody

[2013-09-02 14:09] hickford opened #20 "HTTPie doesn't work behind NTLM proxies"
HTTPie is a command line HTTP client written in Python. Alas it doesn't work behind NTLM proxies.  https://github.com/jkbr/httpie/issues/159

Could you guys help fix that? As stated in the GitHub issue, I will pay money for a fix.

[2013-09-02 14:32] #20 closed, assigned to nobody

[2013-09-02 21:41] ecederstrand opened #21 "Closing connection is wrong?"
requests_ntlm.py line 62 requests the connection to be closed:

62   request.headers["Connection"] = "Close"

I have a hard time seeing why it's correct to request the same connection to be closed that we just worked hard to authenticate. I was getting lots of 401's talking to an Exchange server before removing this line. Any comments?

[2013-09-03 16:40] #21 closed, assigned to nobody

[2013-09-07 18:37] hickford opened #23 "Package for pip"
Please could you package this library for Pip? So it's easy to install

[code]

This helps users who want to use this library, and developers of applications that rely on this library.

Afterwards, add pip installation instructions to the readme.

[2013-09-07 18:39] hickford opened #24 "Python 3 compatibility"
Is this library compatible with Python 3? If not, is there any plan to make it so?

[2013-09-07 20:25] #23 closed, assigned to nobody

[2013-09-11 17:35] rshipp opened #25 "SSL Cert verify option incorrectly handled"
Description: When attempting to use requests and requests-ntlm to authenticate to a server with a self-signed certificate, the verify=False kwarg is not honored.

Code: https://gist.github.com/george2/6526922

Expected resuts: The certificate is not verified, and the request goes through.
Actual results: Requests attempts to verify the certificate, fails, and throws an SSLError.

Versions:
python

[2013-09-12 22:23] #25 closed, assigned to nobody

[2013-09-24 07:03] mjaensson opened #27 "Special characters in password"
Authenticating with a user that has a password with special characters in it ("!" in my case), won't work. The auth will fail.

[2013-09-30 08:27] #27 closed, assigned to nobody

[2013-10-24 10:16] glisha opened #29 "ntml -> ntlm in README.rst"
Typo in README.rst
   pip install requests_ntml
should be
   pip install requests_ntml

[2013-10-24 12:35] #29 closed, assigned to nobody

[2014-01-15 22:54] jharder01 opened #32 "Error: Incorrect Padding"
I'm getting an error (Error: Incorrect Padding) which occurred in python-ntlm but was later corrected. The below link describes the same issue I'm having and you'll find at the bottom it notes that the issue was corrected in a later release.

I made the changes to HTTPNtlmAuthHandler.py as described in the second link and no longer had the issue with python-ntlm.

https://code.google.com/p/python-

[2014-01-16 03:22] #32 closed, assigned to nobody

[2014-04-04 23:46] ibigpapa opened #34 "Incorrect Padding"
[code]

I can run this requests get and get a proper response

[code]

as soon as i change the site to the correct one and put in the correct username and password for my domain i get the incorrect padding error.

Here's the installed python info it's python 2.6

argparse (1.1)
Flask (0.10.1)
haufe.sharepoint (0.1.9)
iniparse (0.3.1)
itsdangerous (0.24)
Jinja2 (2.7.2)
kerberos (1.1.1)
MarkupSafe (

[2014-05-18 14:39] mentaal opened #36 "www-authenticate"
Hi there, I tried using your library and I am also trying to use your library within a different github project https://github.com/Crypt0s/python-webdav
I get the following error:
File "<corporate_path_here>/python-webdav/requests-ntlm/requests_ntlm/requests_ntlm.py", line 57, in retry_using_http_NTLM_auth
    auth_header_value = response2.headers[auth_header_field]
  File "<corporate_path_here>/p

[2014-06-05 10:49] stewx opened #37 "Something going wrong with authentication"
There is some problem when I try to use this module to authenticate. My authentication is rejected and I get a 401 status from my HTTP requests.  I tried doing the exact same thing in urllib2 and it worked flawlessly.

I captured the traffic in Wireshark and Wireshark makes it look like the username, hostname, etc are being truncated to one character. This doesn't completely make sense to me, thou

[2014-06-06 10:03] rekcahpassyla opened #38 "NTLM auth always returns 401 Unauthorized when using requests-2.3.0"
Hi,

I have been using `requests-ntlm` (post-version 0.0.2.2) in conjunction with `requests 2.2.1`. Recently I upgraded to `requests 2.3.0` and found that NTLM authentication no longer worked; every request was rejected with 401 Unauthorized.

Side-by-side debugging of 2.2.1 vs 2.3.0 yielded the result that [this deletion](https://github.com/kennethreitz/requests/compare/v2.2.1...v2.3.0#diff-31f6e

[2014-06-06 11:50] #38 closed, assigned to nobody

[2014-06-09 17:11] rekcahpassyla opened #40 "SSPI authentication"
I have a requirement for SSPI authentication. Would there be interest in having this added (and is this the right place to add it)? If so, I have an idea how to implement it and a current rough sketch.

[2014-06-11 15:19] #40 closed, assigned to nobody

[2014-07-18 18:21] btubbs opened #43 "file-like objects in PUT requests are consumed too early, resulting in bad content-length"
The script below uses a file object (StringIO) as the 'data' argument to a PUT request.  When you run this script, your server is likely to tell you that the final request (actually putting the payload) has an incorrect HTTP method.  This is because the content-length is set to 5, but the file-like object has already been read (it was included with the first PUT, which was not yet authorized).  An

[2014-07-23 18:42] #43 closed, assigned to nobody

[2014-08-25 15:38] btoews opened #48 "Fix versioning"
Rather than going from `0.0.2.4` to `0.0.2.5`, I'd like to bump to `0.0.3`. Then moving forward we can do proper semver. Does that sound legit?

/cc @sigmavirus24 @Lukasa

[2014-08-25 15:44] #48 closed, assigned to nobody

[2014-11-04 15:30] orbidlo opened #49 "KeyError: 'proxy-authenticate' - response2 gives real content instead of challenge"
TLDR: Response2 gives real content instead of challenge. Not sure if broken proxy or false assumption.

Possibly related with https://github.com/requests/requests-ntlm/issues/36

I'm behind evil corporate NTLM proxy. While within session I would request a page (successfully), grab it's content to get form postdata and finally send new request which would end up with this error:

[code]

With the h

[2014-11-06 08:34] #49 closed, assigned to nobody

[2014-12-23 16:16] #24 closed, assigned to nobody

[2015-01-05 23:16] LiaungYip opened #54 "Import error"
Attempting to import requests_ntlm on Python 2.7.9 raises a TypeError. This renders the module unusable.

See also this StackOverflow question about a very similar error: http://stackoverflow.com/questions/27660034/python-requests-ntlm-import-error . (The user in that post got a `'long' object is not subscriptable` error. I had also experienced that error before updating Python to latest.)

[code]

[2015-01-05 23:20] Lukasa commented on #54
Interesting. I bet this didn't happen on 2.7.8, and this problem is well down in the depths of python-ntlm3. You're reporting the bug on the wrong library, I'm afraid: consider reporting on [trustrachel/python-ntlm3](https://github.com/trustrachel/python-ntlm3).

[2015-01-05 23:20] #54 closed

[2015-01-05 23:20] trustrachel commented on #54
Huh, I wonder if there's something oddball about Windows - the SO problem was on Windows, too.

Just importing the library causes the problem? I'll try to find a windows box to reproduce this on.

[2015-01-05 23:20] trustrachel commented on #54
Sorry @Lukasa didn't see you closed it. Yes, please, send me a bug and I'll take a look.

[2015-01-05 23:20] Lukasa commented on #54
Oh hey @trustrachel, I didn't know you were watching this repo! Would you rather have this issue open here? I don't mind tracking it here, just didn't know you were watching.

[2015-01-05 23:21] trustrachel commented on #54
I just happened to see it when I was looking for something else. I think you're right, it's my library. Better it be over there. :)

[2015-01-05 23:22] Lukasa commented on #54
Cool, alrighty then. =) Thanks for being so responsive!

[2015-01-05 23:28] LiaungYip commented on #54
A further note; requests_ntlm version 0.0.3 imports OK. All other dependency versions are unchanged.

[code]

[2015-03-26 20:15] exvito opened #56 "About multiple independent connections to same host"
Hi,

First of all, thanks for sharing the package which works great in a single-connection-at-a-time scenario. :)

I'm in a scenario where I need two (or more) NTLM authenticated independent connections to the same host. These are requests to a REST interface with different URLs, say http://host/url_A?q_A and http://host/url_B?q_B.

My testing shows that these somewhat parallel requests sometimes

[2015-03-26 23:26] Lukasa commented on #56
Your understanding is right. This is a tricky scenario: if you need authentication on a more finely-grained level than hostname, you'll need to override urllib3's connection pooling logic to understand that. That's a tricky thing, but do-able.

The slightly easier thing to do would be to use one session per authentication identity, and then the code in #51. That way you can hang the authentication

[2015-03-27 11:06] exvito commented on #56
Thanks for your feedback.

I couldn't take the "slightly easier" approach in my case and went instead for the "replace the pool manager" version.

The steps I took:
* Create a pool manager with a different behaviour.
* Create a requests HTTP adapter that uses a that pool manager.
* Mount it in the session.

Seems to work nicely. I'll leave it below, for posterity.

[code]

What's left: testing thi

[2015-03-27 14:23] Lukasa commented on #56
Glad to hear you were able to get something working!

[2015-03-27 14:23] Lukasa commented on #56
Please feel free to close this if your testing reveals that everything is now functioning.

[2015-03-27 23:00] exvito commented on #56
Just to let you know that I applied the approach above to my existing codebase, along with NTLM authentication: it works nicely, both with and wthout #51.

Without #51 I'm seeing two different connections per authentication (thus, per application level request). With #51 it seems to behave much better, fully reusing the connections.

Question: What's blocking the merge of #51? May I contribute som

[2015-03-28 07:17] Lukasa commented on #56
#51 is in a tricky place. Firstly, it's got some outstanding code review notes on it. Secondly, there's some subtlety about what it does with closing connections that really needs to be sorted out. Feel free to take the patch and use it as a basis for that conversation. =)

[2015-03-30 11:44] exvito commented on #56
I just did that. Closing the issue.
Again, thanks.

[2015-03-30 11:44] #56 closed

[2015-06-04 08:56] razvanctatu opened #58 "Issue with https and auth"
So it's actually a couple of issues. The first one that when I use ntlm auth with https I keep getting 407

so I have:
session.proxies = {'http': 'http://ip:port', 'https': 'https://ip:port'}
session.auth = HttpNtlmAuth('domain\\user', 'password', session)

and when I try:
session.get('https://www.google.com') I get:
ConnectionError: HTTPSConnectionPool(host='www.google.com', port=443): Max retrie

[2015-06-04 11:20] Lukasa commented on #58
@razvanctatu This is not strictly a bug, and you should ask questions like this on Stack Overflow in future. =) However, I don't want to send you away without assistance.

Firstly, when proxying HTTPS you almost certainly don't want to set a HTTPS scheme in your proxy URL. Try this for your proxies dictionary: `session.proxies = {'http': 'http://ip:port', 'https': 'http://ip:port'}`.

Secondly, if

[2015-06-04 11:20] #58 closed

[2015-06-04 11:34] razvanctatu commented on #58
@Lukasa thanks a lot for the reply, halfway through writing the issue I figured it would have been better suited for a SO post but then I also figured I'd probably get a quicker response here, so I cheated a bit, sorry about that.

Thanks for the Authorization: header tip, it works, as for the https thing, I guess I'll keep making https requests over a http proxy

[2015-07-08 13:26] sfesfizh opened #59 "IndexError: list index out of range"
Hi!

Installed:
`user@note:~> pip freeze`
`python-ntlm3==1.0.2`
`requests==2.7.0`
`requests-ntlm==0.1.0`

My company use web-filter "Websense" with proxy connection and I wrote script for NTLM authentication on "websense":

`#!/usr/bin/python`

`import requests`
`from requests_ntlm import HttpNtlmAuth`

`ip = x.x.x.x`
`host = 'hostname'`
`username = 'domain\user'`
`password = 'password'`
`session

[2015-07-08 13:32] Lukasa commented on #59
So, this bug would happen if for any reason there is no `www-authenticate` header in the second response. There's one other possibility: does it consistently reproduce with requests version 2.7.0 and consistently *not* reproduce with requests version 2.2.1?

[2015-07-08 13:33] Lukasa commented on #59
I'm wondering if there is a bug in this block of code:

[code]

[2015-07-08 13:45] sfesfizh commented on #59
If any actions I should do?

[2015-07-08 13:57] Lukasa commented on #59
@sfesfizh Yeah, can you retest a few times and confirm that you *always* hit this traceback? Or does it work sometimes?

[2015-07-08 14:00] sfesfizh commented on #59
@Lukasa , it works always correct in 2.2.1 and no one success in 2.7.0

[2015-07-08 15:22] sfesfizh commented on #59
@Lukasa I think error could be with long URL string. Just cropped string to:
`session.get('http://x.x.x.x:15880')`
and script done without any errors

[2015-07-08 15:25] Lukasa commented on #59
Long URL doesn't sound right, but I wonder. Are you able to share the URL?

[2015-07-08 15:27] sfesfizh commented on #59
@Lukasa yeah, in my first message:
`session.get('http://x.x.x.x:15880/websense?action=login&hostname='+host+'&persistent=1&domain=DOMAIN&ip='+ip+'&ntlm_sess_sec=1')`

[2015-07-08 15:46] Lukasa commented on #59
Ok, can you take the failing configuration and slowly increase the requests version until it breaks? I'd like to narrow it down to a specific change log.

[2015-07-08 15:47] sfesfizh commented on #59
No problem, please tell me all available versions from 2.2.1.
Thanks!

[2015-07-08 15:53] Lukasa commented on #59
2.7.0
2.6.2
2.6.1
2.6.0
2.5.3
2.5.2
2.5.1
2.5.0
2.4.3
2.4.2
2.4.1
2.4.0
2.3.0
2.2.1

[2015-07-09 06:42] sfesfizh commented on #59
Hello!

At the next version it comes error:
`requests==2.3.0`

[2015-07-09 06:50] Lukasa commented on #59
2.3.0 contained a number of changes, but the relevant ones are probably these:

- No longer expose Authorization or Proxy-Authorization headers on redirect. Fix CVE-2014-1829 and CVE-2014-1830 respectively.
- Authorization is re-evaluated each redirect.

Is it possible for you to use tcpdump or something like it to capture the HTTP transactions and show them to me? All the requests involved (there

[2015-07-09 07:43] sfesfizh commented on #59
You need successful responses or not?

[2015-07-09 08:19] Lukasa commented on #59
Unsuccessful is preferred. =)

[2015-07-09 08:22] sfesfizh commented on #59
Here screens of successfull requests-responses in sequences:
![snapshot1](https://cloud.githubusercontent.com/assets/13018569/8590835/c14a4b1a-262c-11e5-9937-0d92411c6509.png)
![snapshot2](https://cloud.githubusercontent.com/assets/13018569/8590837/c14c51a8-262c-11e5-90b7-ea1b173b731a.png)
![snapshot3](https://cloud.githubusercontent.com/assets/13018569/8590834/c14a0934-262c-11e5-8b2a-010265400d0a

[2015-07-09 08:31] sfesfizh commented on #59
Hm.
While using requests 2.3.0 there are only 2 GET requests and 2 "401" responses, but when using requests 2.2.1 there are 3 GET requests and 2 first "401" responses and 1 "200" response at last.

[2015-07-09 09:09] Lukasa commented on #59
@sfesfizh Yeah, I expect there to be one fewer request because the exception prevents us from making the third one.

Are there differences between the second request in both cases?

[2015-07-09 09:21] sfesfizh commented on #59
I see differencies in Accept-Encoding: no "compress" and "HTTP request 1/1"
![snapshot7](https://cloud.githubusercontent.com/assets/13018569/8592034/f545886e-2634-11e5-9435-ef2c6335bc39.png)

[2015-07-09 09:31] Lukasa commented on #59
Hmm. This is bizarre. Those differences should not be material to the  I wonder if we have a problem with connection setup.

NTLM is really strange and it authenticates connections, not transactions. I wonder: are you getting the same behaviour with TCP connections each time? (A TCP connection is set up by a SYN, SYN-ACK, ACK sequence, and torn down by RST or FIN).

[2015-07-09 12:35] sfesfizh commented on #59
Yepp, always 20 packets while in requests == 2.3.0
![snapshot8](https://cloud.githubusercontent.com/assets/13018569/8595109/1c7c855c-2650-11e5-895d-fc468a1b4839.png)

[2015-07-09 12:37] Lukasa commented on #59
And to clarify it's exactly the same for 2.2.1?

[2015-07-09 12:39] sfesfizh commented on #59
No, on 2.2.1 always 15 packets
![snapshot9](https://cloud.githubusercontent.com/assets/13018569/8595184/b43afcd4-2650-11e5-8020-eddc6043c745.png)

[2015-07-09 17:52] Lukasa commented on #59
Aha! Ok, that's likely to be our problem.

In 2.2.1 you've only got 1 TCP connection (from port 47252 to port 15880), but on 2.3.0 you've got two, one per request (from port 47227, and then from port 47228). This breaks NTLM because NTLM auths the individual connection, which you aren't successfully re-using.

I wonder why this is happening. Can you turn on logging to debug level, please, and show

[2015-07-09 18:45] sfesfizh commented on #59
No problem, but first I want to know what logging do you mean ? :)
On Jul 9, 2015 8:52 PM, "Cory Benfield" <notifications@github.com> wrote:

[2015-07-09 19:27] Lukasa commented on #59
urllib3 does some logging. If you add your code to a script and add the code below to the top of that script you should get some output:

[code]

[2015-07-10 08:22] sfesfizh commented on #59
Looks like the problem with another connection:

user@note:~> ./websense.py
INFO:requests.packages.urllib3.connectionpool:Starting new HTTP connection (1): x.x.x.x
DEBUG:requests.packages.urllib3.connectionpool:"GET /websense?action=login&hostname=note&persistent=1&domain=DOMAIN&ip=x.x.x.x&ntlm_sess_sec=1 HTTP/1.1" 401 0
INFO:requests.packages.urllib3.connectionpool:Starting new HTTP connection (2

[2015-07-10 08:59] Lukasa commented on #59
Hurrah! So the bug is: why is requests using another connection when the one it had should have been good?

[2015-07-10 09:25] sfesfizh commented on #59
And now who can correct this bug? :)

[2015-07-10 09:41] Lukasa commented on #59
I'm happy to look at this, but I need to find some time first. Definitely won't get there before this evening. =)

[2015-07-10 10:08] sfesfizh commented on #59
ok! Whatever, thanks for your help :)

[2015-07-14 13:47] Lukasa commented on #59
@sfesfizh Can you try your test with the code from #57? I wonder if this is a symptom of that problem.

[2015-07-14 14:35] sfesfizh commented on #59
So I should install requests 2.3.0 and try alternative code for 'requests_ntlm.py'? Right?

[2015-07-14 14:36] Lukasa commented on #59
Yeah, please. =)

[2015-07-14 14:54] sfesfizh commented on #59
I supose it is all ok :)
Tested with requests 2.3.0 and 2.7.0 and got no error messages, connections dump shows one TCP port communication and three steps of authenticating.

[2015-07-14 14:57] Lukasa commented on #59
Alright, I think this means that we need to merge that change.

I'm going to aim to release a new version of requests-ntlm this weekend that contains that fix.

[2015-07-14 15:02] sfesfizh commented on #59
Sounds great! )
So I will update new release when it's rolled out :)

Many thanks!

[2015-07-18 09:04] Lukasa opened #60 "Push new release"
@sigmavirus24, turns out I'm not credentialed to push a new release of requests_ntlm, mind if you do it?

[2015-07-18 09:04] Lukasa commented on #59
Ok, #57 is merged, we'll be pushing out 0.2.0 shortly.

[2015-07-18 09:04] #59 closed

[2015-07-18 13:49] sigmavirus24 commented on #60
I actually can't push a release either. So this is up to @mastahyeti

[2015-07-20 14:53] mastahyeti commented on #60
[Here's](https://pypi.python.org/pypi/requests_ntlm/0.2.0) the release. Let me know if you'd like your usernames added to the PyPi package.

[2015-07-20 14:53] #60 closed

[2015-07-21 00:36] sigmavirus24 commented on #60
@mastahyeti feel free to add graffatcolmingov to the PyPI package.

[2015-07-21 14:56] mastahyeti commented on #60
Done.

[2015-08-14 14:38] trezorg opened #61 "401 error"
I am authentification against https://east.exch029.serverdata.net/EWS/Exchange.asmx server. I got 401 error. When I tried with curl --ntml then I've got 200 response.
What could be different in curl and requests_ntml NTLM protocol realization?
I can give additional information and creadentials if needed.

[2015-08-14 19:30] Lukasa commented on #61
The most likely issue is surrounding connection pooling. Can you tell me what versions of requests and requests_ntlm you're using?

[2015-08-14 19:45] trezorg commented on #61
requests==2.7.0
requests-ntlm==0.2.0

[2015-08-14 19:52] Lukasa commented on #61
Hmm, that's weird. Are you familiar with tcpdump?

[2015-08-14 20:04] trezorg commented on #61
I can start some simple command. I am not sure how to decode https session.

[2015-08-14 20:05] Lukasa commented on #61
We don't need to decode the session, I just need to see how many TCP connections are created.

[2015-08-14 20:10] trezorg commented on #61
This is output.
23:10:21.214700 IP 192.168.100.100.33306 > 199.193.200.203.443: Flags [S], seq 983701046, win 29200, options [mss 1460,sackOK,TS val 10704584 ecr 0,nop,wscale 7], length 0
23:10:21.398004 IP 199.193.200.203.443 > 192.168.100.100.33306: Flags [S.], seq 356261063, ack 983701047, win 8192, options [mss 1380], length 0
23:10:21.398098 IP 192.168.100.100.33306 > 199.193.200.203.443: Fla

[2015-08-14 20:27] Lukasa commented on #61
Hmm that looks like an entirely reasonable flow. Do you have any backslashes in your username or password?

[2015-08-14 20:46] trezorg commented on #61
There are no any backslashes at all. As far as I know there is Exchange 2010.

[2015-08-14 20:48] trezorg commented on #61
I can provide code I use and test account credentials, if you are interested.

[2015-08-14 20:48] Lukasa commented on #61
Hmm, that's not a bad idea, though it's hard for me to test at the moment (no access to a Windows machine).

[2015-08-14 20:52] trezorg commented on #61
I also cannot provide rigth now, I  am not at computet, but as soon ad possible I will do.

[2015-08-15 06:02] trezorg commented on #61
This is my code with requests_ntlm:

    import requests
    import logging
    from requests_ntlm import HttpNtlmAuth
    try:
        import http.client as http_client
    except ImportError:
        import httplib as http_client
    http_client.HTTPConnection.debuglevel = 1

    logging.basicConfig()
    logging.getLogger().setLevel(logging.DEBUG)
    requests_log = logging.getLogger("requests.

[2015-08-15 16:08] Lukasa commented on #61
I recommend you wipe out sensitive information right now, and mail it to me instead at <cory@lukasa.co.uk>. I won't get a chance to look at this for a few days.

[2015-08-15 16:26] trezorg commented on #61
Thanks you. I sent email message.

[2015-09-09 12:19] Zitrax opened #62 "IndexError"
I am using 0.2.0 and I am getting this:

[code]

And inspecting `auth_header_value` I can see it starts with "Negotiate, NTLM " and the code is splitting on ',' and then using `startswith('NTLM '). But after the split the value starts with ' NTLM '.

I verified that it works on my side is I split on ', ' instead, but that's not the proper fix ofc.

[2015-09-09 15:50] Lukasa commented on #62
I think the better fix is to lstrip whitespace. A pull request is welcome. =)

[2015-10-31 16:31] #62 closed

[2015-11-15 17:21] jeeberhardt opened #65 "Error 401"
I have an error 401 when I try to connect to https://igbmcmail.igbmc.fr/ews/exchange.asmx. It works with curl (or pycurl) but not with requests-ntlm. Thank you for your answer!

Curl:
[code]

Python:

[code]

TCPdump output
[code]

[2015-11-15 20:53] Lukasa commented on #65
There doesn't appear to be any auth traffic there at all. Can you print `response.headers` for me please? `response.history` as well, if possible.

[2015-11-15 20:56] jeeberhardt commented on #65
Here it is !

[code]

[2015-11-15 21:05] Lukasa commented on #65
Hmm, you seem to be struggling to auth with NTLM. NTLM is a fairly tricky auth method. Can you also run:

[code]

[2015-11-15 21:08] jeeberhardt commented on #65
Classic Microsoft ...

{'Content-Length': '0', 'X-FEServer': 'SERV-CAS2', 'X-Powered-By': 'ASP.NET', 'request-id': '20621211-3b20-4cfa-98c6-35ac87302446', 'Server': 'Microsoft-IIS/8.5', 'X-WSSecurity-Enabled': 'True', 'Set-Cookie': 'ClientId=XXWZQNUJE0MAOQEFUOW; expires=Mon, 14-Nov-2016 21:05:45 GMT; path=/; HttpOnly', 'Date': 'Sun, 15 Nov 2015 21:05:45 GMT', 'X-OAuth-Enabled': 'True', 'WWW-Authen

[2015-11-15 21:35] Lukasa commented on #65
So that's a real NTLM auth challenge. Working out why this isn't working is really going to be quite tricky, I'm afraid. =(

Out of interest, does curl work out your NTLM domain? Do you want to try removing it from the requests case, and having your username just be `USERNAME`?

[2015-11-15 21:58] jeeberhardt commented on #65
yeah ... I think so, too. ^^
But thank you for your time, it is not your fault if NTLM is a little bit shitty. I tried with urllib2, and it doesn't eitheir. At the end, I will keep my (ugly) subprocess functions with curl.

Yes, it does. If I am just using my ```USERNAME```, curl is still working. (Is it what you asked?)

[2015-11-15 21:59] Lukasa commented on #65
@jeeberhardt Does it work with requests?

[2015-11-15 22:04] jeeberhardt commented on #65
Nope, if remove the ```DOMAIN\\``` from ```DOMAIN\\USERNAME``` and just keep ```USERNAME```, I have this error:

[code]

But if I keep ```\\USERNAME```, I have this:

[code]

Is it what you wanted ?

[2015-11-15 22:05] Lukasa commented on #65
Nope, 501 suggests that the server doesn't like that at all. Hmm, I'm currently out of ideas for how best to debug this I'm afraid. =(

[2015-11-15 22:07] jeeberhardt commented on #65
Argh ... or maybe because of a special character in the password ?

[2015-11-16 09:04] Lukasa commented on #65
That's certainly possible!

[2015-11-16 10:09] jeeberhardt commented on #65
Apparently not, I just changed it and ... nothing ! So thank you again, I will stay with ```subprocess + curl```.

[2015-12-05 12:45] tkossak opened #66 "using currently logged in user's credentials?"
Is there a way to authenticate with currently logged user's credentials instead of providing login/password directly inside the script?

Thank you for this package, it works beautifully.

[2015-12-05 17:51] Lukasa commented on #66
Not as far as I know. I think you should check whether we can signal that to the underlying NTLM library: if we can, then we can investigate whether we should expose that here.

[2015-12-05 17:51] #66 closed

[2015-12-05 17:51] Lukasa commented on #66
Oh, and thanks for saying thanks! I'm glad it works well for you! (I'm on my phone, so I missed that comment.) :sparkles:

[2015-12-16 09:45] jhoxx commented on #65
Hi Cory,
I am having exactly same problem and I believe that it is cased by forcing authentication to NTLM_v2 only. Is there anything we can do with it ?

thanks

J.

[2015-12-16 10:17] Lukasa commented on #65
@jhoxx I'm not sure I fully understand that question.

[2015-12-16 11:13] jhoxx commented on #65
I tried to authenticate to IIS service via requests-ntlm, but it gave me a 401 repsponse.  I can see the request on server, with error message pointing to "wrong passwords". This usually happens when authentication is made by NTLM version 1. Thus I would like to know if there is any way how to enforce  requests-ntlm to use NTLM v2 protocol only.

J.

[2015-12-16 11:32] Lukasa commented on #65
Currently no support exists in this library, as far as I can see. You'll need to see what code is required from our dependencies and then check whether an appropriate patch fixes your problem.

[2015-12-16 12:07] jhoxx commented on #65
Ok, thank you Cory.

[2016-01-23 16:23] vmuriart commented on #65
@jhoxx, @jeeberhardt, are you guys using Windows machines? We can try to see if the problem is coming from `ntlm3` library, by using `pywin32` to perform the negotiations

[2016-01-25 12:50] jhoxx commented on #65
@vmuriart, Hi Vik, yes, I do use Windows and yes I can try if you help me with the API call.

J.

[2016-01-30 17:15] vmuriart commented on #65
@jhoxx give the pr a try and import `HttpNtlmSspiAuth` a try.

[2016-04-28 14:53] Loknar commented on #65
I'm experiencing what seems to be the same as @jeeberhardt described, except it only happens when using a proxy setup (by pointing http_proxy/HTTP_PROXY and https_proxy/HTTPS_PROXY environment variables to a proxy service), without the proxy things work fine ..

[2016-05-24 12:17] dalevova opened #69 "Traceback occurred"
For version 0.3.0 traceback occurred (for 0.2.0 works as expected)

Headers:
Status code: 401 Unauthorized
WWW-Authenticate:"Basic realm="data""

`File "/env/lib/python2.7/site-packages/requests/api.py", line 71, in get
    return request('get', url, params=params, **kwargs)
  File "/env/lib/python2.7/site-packages/requests/api.py", line 57, in request
    return session.request(method=method, url

[2016-05-24 12:23] Lukasa commented on #69
Yup, so that traceback is bad. However, it reveals a problem in your code: you're not getting an NTLM challenge, you're getting a Basic auth challenge. Why are you using requests-ntlm in that case?

[2016-06-02 00:16] mragaei opened #71 "NTLMv2 support"
Hello,

Thanks for your efforts but I believe NTLMv2 is still not supported in python-ntlm3 and python-ntlm as appears from traffic captures and from reported issues in respective repositories:

https://github.com/trustrachel/python-ntlm3/issues/10
https://github.com/mullender/python-ntlm/issues/47

Issues were reported since quite a while so I hope there's some sort of an alternative as many proj

[2016-06-02 01:06] Lukasa commented on #71
As far as I know there is no library that supports NTLMv2. I don't know that anyone will write one either: it's old and deprecated and broken. If an actual project appears that supports it we can reopen the issue, but otherwise I think it might be worthwhile migrating to Kerberos.

[2016-06-02 01:36] mragaei commented on #71
Thanks @Lukasa for the fast response though it's a bit disappointing.

Not sure if you have come across the work done by @ianclegg in ntlmlib (https://pypi.python.org/pypi/ntlmlib). If you haven't, please have a look and let me know if we can make use of it to add NTLMv2 support.

[2016-06-02 06:07] rbcarson commented on #71
@mragaei One major obstacle to improvements to requests-ntlm is the lack of servers to test against. If you could provide access to a server that requires NTLMv2 authentication, or instructions on how to set one up, that would help with this problem.

The API exposed by ntlmlib is quite different from python-ntlm(3), so rewriting requests-ntlm to use it may require significant effort. If you're co

[2016-06-02 07:53] ianclegg commented on #71
@Lukasa I have an implementation of requests-ntlm using ntlmlib if you are interested in a PR? Its been in production at a number of sites.

[2016-06-02 13:54] sigmavirus24 commented on #71
@ianclegg do you have a way for us to set up a server with NTLMv2 easily that we can test against?

As an aside, does ntlmlib support Python 3 and Python 2?

[2016-06-02 13:56] sigmavirus24 commented on #71
I just checked, it supports up to 3.3 according to classifiers. My major problem with ntlmlib as it stands now, is that it does not explicitly state support for 3.4 and 3.5 **and**, more importantly, it uses PyCrypto. Why is it using PyCrypto instead of [cryptography](/pyca/cryptography)?

[2016-06-02 16:49] ianclegg commented on #71
No particular reason, cryptography probably hadn't finished being baked when I first cut the code a few years back. I only open sourced ntlmlib recently since a lot of people I knew were asking for it. NTLMv1 has been disabled by default in all Windows editions for the last 10 years (since Vista).

I don't see a particular problem with using cryptography or supporting python 3.4 and later in ntlml

[2016-06-02 21:43] ianclegg commented on #71
@sigmavirus24 had a quick look - cryptography looks sound, though it doesn't support MD4 (they might take a PR for it for completeness) - not a deal breaker since its also available though hashlib

[2016-06-03 01:38] mragaei commented on #71
@rbcarson , @sigmavirus24 it seems someone's prayers have been answered. I found that @savonrb has already shared a testing plan here:
https://github.com/savonrb/httpi/wiki/NTLM-Integration-Test-Plan

I didn't try it but it looks easy to follow.

To force NTLMv2 you might need to check these articles as well:
https://kb.iu.edu/d/atcb
https://technet.microsoft.com/en-us/library/jj852207(v=ws.11).as

[2016-06-03 02:13] rbcarson commented on #71
@mragaei There's nothing particular to NTLMv2 in the test plan that you linked, as far as I can tell. I already use requests-ntlm against a Windows Server 2012 IIS instance set up the same way, and it works. I'll take a look at the pages about forcing NTLMv2, though.

@ianclegg You say that NTLMv1 has been disabled since Vista, but this seems a bit weird to me. If python-ntlm(3) doesn't support NT

[2016-06-03 06:32] mragaei commented on #71
@rbcarson I misunderstood that you need to set up the whole testing environment from scratch. Since you have one already in place, I guess all you need to do is to adjust the "Network security: LAN Manager authentication level" setting in the Local Security Policy of the client, server, and domain controller (if exists) to become "Send NTLMv2 response only. Refuse LM & NTLM", which is equivalent t

[2016-06-03 08:22] ianclegg commented on #71
@rbcarson Its all about user hashes - no microsoft client or server product will send user hashes in a v1 response. Having worked for Microsoft, the only reason edge facing products like IIS still permit incoming v1 is to support ancient 3rd party products build by firms that no longer exist. So if folks want to send their credentials in v1 hashes, the server will still accept them - it took yours

[2016-06-03 20:49] mragaei commented on #71
@ianclegg sure I'm interested in your handler specially if it won't force me to give up using requests. At the same time I encourage the requests-ntlm team to consider your PR proposal as python-ntlm(3) seems to be deserted and is no longer being maintained

[2016-06-05 16:33] sigmavirus24 commented on #71
@ianclegg if you already have the code written, I'd be interested to see how significant of a change it would be to requests-ntlm to support it. You are, of course, also welcome to maintain your own auth package for it though.

[2016-06-05 16:34] sigmavirus24 commented on #71
@mragaei python-ntlm3 should not be deserted. It is maintained by an employee for that company. If features are rejected it's because that company likely does not see value in spending development time on those features at the moment (unless someone else does the work to include them).

[2016-06-06 07:08] ianclegg commented on #71
@mragaei  Extracted it from a larger source file, but it should build. Don't sweat the unit tests, i'll open source them shortly.
https://gist.github.com/ianclegg/a77e309e051ec6cc28eac3c7ab14991b

@sigmavirus24 That handler is not derived from requets-ntlm so there's little if any in common, a patch to requests-ntlm could be made more harmonious. Its matter of creating the ntlm context generator,

[2016-06-07 22:59] mragaei commented on #71
@ianclegg I've given it a try but got an exception ending with:

.
    token = context_generator.send(None)
  File "....\ntlmlib\context.py", line 90, in initialize_security_context
    negotiate_token = self._negotiate(self.flags)
  File "....\ntlmlib\context.py", line 144, in _negotiate
    return Negotiate(flags, self._authenticator.get_domain(), self._hostname).get_data()
  File "....\ntlmlib\

[2016-06-09 22:07] ianclegg commented on #71
@mragaei I had a quick look into this morning, its a python 3.x issue with the build of ntlmlib on the public pypi. We fixed it onsite a while back, I probably won't get time to push the latest build of ntlmlib until this weekend - out of interest what Python version are you using? Is it 3.5?

[2016-06-10 12:24] mragaei commented on #71
@ianclegg this is making sense as the Python version I used for testing is 3.4.3, looking forward to the latest build of ntlmlib :)

[2016-06-12 22:32] ianclegg commented on #71
@mragaei Pushed the latest sources and the new build to PyPi (v0.71)
`pip install --upgrade ntlmlib`

- [x] fixed any issues I found with python 3.4 and 3.5 support and updated PyPi classifiers
- [x] travis build now runs against python 3.4 and python 3.5 (99% code coverage of authentication)
- [x] swapped out pycrypto for cryptography at the behest of @sigmavirus24

I had to make a very minor twe

[2016-06-22 17:13] mragaei commented on #71
@ianclegg sorry I couldn't get back to you earlier. I tested the new build and now it throws "The remote server rejected NTLM negotiation":

.
  File "C:\Python34\lib\site-packages\requests\sessions.py", line 480, in get
    return self.request('GET', url, **kwargs)
  File "C:\Python34\lib\site-packages\requests\sessions.py", line 468, in request
    resp = self.send(prep, **send_kwargs)
  File "C

[2016-06-22 17:31] rbcarson commented on #71
Could someone point me to a service/product that often/always requires NTLMv2?

[2016-06-22 18:31] ianclegg commented on #71
@mragaei That should work, I'll post a worked example shortly.

@rbcarson That's not so easy - the decision to 'require' NTLMv2 in any given Windows deployment is made by system administrators. Microsoft's default position on this is for Administrators to disable NTLMv1. The last few clients I have worked for followed this advice - that is raison d'etre for ntlmlib.
https://support.microsoft.com/e

[2016-06-22 18:32] ianclegg commented on #71
I notice you using connection pooling, I assume your aware of the potential security issues with NTLM there (the fact that a security context you negotiated is associated with the underlying tcp connection; which is returned to a pool and would affect whoever uses it next). libcurl used to have this issue a few years back and I looking at the code - I suspect requests has it too?

[2016-06-22 18:51] Lukasa commented on #71
Requests absolutely does connection pool.

Ideally requests-ntlm would not allow connections to be put back in to the pool. There is definitely a security risk in using NTLM in this manner. However, it's difficult to deal with: NTLM simply does not authenticate the way HTTP expects to be authenticated.

I'm open to providing hooks into Requests to tweak the behaviour as needed, but it's going to c

[2016-06-22 18:55] ianclegg commented on #71
good advice

[2016-06-22 18:55] ianclegg commented on #71
yer, ntlm has been a pain for most implementer's - the slightly good news, if folks weren't aware - is that Microsoft are not implementing ntlm over http/2

[2016-06-22 19:05] ianclegg commented on #71
While we are on the topic, this issue of security contexts and tcp connection reuse can also affect Windows servers using the Negotiate scheme (SPNEGO) which is popular on Windows Domains. Windows Administrators can configure IIS to persist the context for connections that have used Negotiate too, but you'll have to inspect the response for the 'Persistent-Auth' header to determine if this is case

[2016-06-22 21:00] mragaei commented on #71
@rbcarson I suppose your question implies that you tried adjusting the server/DC security policy or registry key to force NTLMv2 but for some reason that didn't take effect, please confirm

@Lukasa, @ianclegg I'm not quite familiar with the innerworkings of NTLM and requests so please shed more light on how to use one Session per NTLM authentication context, keeping in mind that:

- I do not have

[2016-06-22 21:19] ianclegg commented on #71
@mragaei - I spotted a possible issue in ntlmlib's setup.py which may have prevented the upgrade. It might be worth trying to removing ntlmlib and reinstalling it?
`pip uninstall ntlmlib`
`pip install ntlmlib`

run a `pip list` and you see:  ntlmlib (0.72)

I've just spun up a Windows 2008 R2 server on AWS, installed IIS 8 and configured a virtual directory with Windows Authentication (i'll leave

[2016-06-23 07:40] Lukasa commented on #71
So after thinking about it longer, there's an even better bit of advice: if possible, use one `TransportAdapter` per target. That is, for each domain you need to NTLM authenticate to, mount a [HTTPAdapter](http://docs.python-requests.org/en/master/user/advanced/#transport-adapters) into the session at that domain (e.g. `https://my-inner-host`). That will limit the scope of connection pooling to th

[2016-06-25 15:09] mragaei commented on #71
@ianclegg really appreciating the effort you're putting into this but I'm unable to access the test host, may be I'm a bit too late and you shut it down already? Alternatively, can you provide client side packet capture and/or [HTTP Archive file](https://toolbox.googleapps.com/apps/har_analyzer/) for your test so I can compare it against my case?

[2016-06-25 16:05] ianclegg commented on #71
@mragaei Try that AWS host again, I had some networking rules which might be blocking access

[2016-06-26 05:28] mragaei commented on #71
@ianclegg Thanks, your AWS host is accessible now and I could use requests-ntlm2 with updated ntlmlib to test it successfully, except that it succeeds no matter what value I put for the domain, probably because it's local authentication.

On the other hand, the situation didn't improve for my server as I'm still getting "The remote server rejected NTLM negotiation" exception at Message 2.

The fol

[2016-06-26 10:11] ianclegg commented on #71
@mragaei Yup - its sounds insane, but the domain name behavior is NTLMv2 alright.

NTLMv2 re-purposes and extends NTLMv1 to retain necessary compatibility. The Negotiate Type1 is pretty much the same for both protocols. The client still sends its domain name in the Type 1 structure - however, in NTLMv2, its is _ignored_. Instead the server responds with its Domain Name in the TargetInfo structure

[2016-06-28 13:47] maxl47 opened #72 "traceback on line 136"
hello,

i got the following traceback:
...
    r=self.sess.post(url, data=login_data, headers=headers_data)#, proxies=self.proxies)
  File "C:\bin\Python27\lib\site-packages\requests\sessions.py", line 518, in post
    return self.request('POST', url, data=data, json=json, **kwargs)
  File "C:\bin\Python27\lib\site-packages\requests\sessions.py", line 475, in request
    resp = self.send(prep, **s

[2016-06-28 13:52] Lukasa commented on #72
That does look like a bug, yes: adding 'NTLM' at the end of line 135 in the repo should fix it. Would you like to make a PR with that change?

[2016-06-28 19:01] maxl47 commented on #72
I would appreciate if a core developer could take over. Thanks.

[2016-06-28 19:09] Lukasa commented on #72
Ok. =)

[2016-06-30 09:18] #72 closed

[2016-07-01 05:38] mragaei commented on #71
Not sure how it happened exactly but when I retested requests-ntlm via python-ntlm3 it just worked! As mentioned earlier, I do not have control over the server so I assume that NTLMv1 has been enabled eventually.

@ianclegg I'd like to provide a packet capture but the traffic is SSL protected so it wouldn't be of any use.

According to http://davenport.sourceforge.net/ntlm.html#theType1Message, "D

[2016-07-01 05:48] rbcarson commented on #71
@mragaei You should be able to decrypt the SSL traffic if you use Fiddler and use the HTTPS decryption option with the Fiddler certificate. Also, to answer your previous question, I was just curious if there were products out there that require NTLMv2 in its default configuration. I haven't tried configuring IIS to require it, but I have no doubts that it would work.

[2016-07-06 23:22] rbcarson commented on #71
@Lukasa Since this is a work in progress now, should this issue be reopened?

[2016-07-07 07:35] Lukasa commented on #71
Why not?

[2016-07-26 19:14] rbcarson commented on #69
It looks like #73 resolved this, right?

[2016-08-02 01:00] jborean93 opened #75 "Support for Strict CbtHardeningLevel"
Hi

I am trying to use Ansible with pywinrm to connect to your Windows hosts and have come across an issue with my company's environment. By default all our region's GPO policy's set the CbtHardeningLevel to Strict expect for our development region. Unfortunately python-ntlm3 requests-ntlm and pywinrm do not support this feature making it a no go for me and others that use Windows in our environme

[2016-08-02 08:53] Lukasa commented on #75
I suspect this would be a valuable feature, but as you've mentioned, it is currently outside the scope of this library. We use dependencies to manage the NTLM auth procedure itself, so you'll need to discuss with them about adding this feature.

You may find it would be helpful to pay one of the developers on those projects to add the functionality you need: otherwise, you'll probably end up needi

[2016-08-02 08:53] #75 closed

[2016-08-02 09:00] ianclegg commented on #75
@jborean93 https://github.com/ianclegg/winrmlib/ is an (almost) drop in replacement for pywinrm which uses ntlmlib - it also offers credssp auth which is solves the double hop issue most people hit. If you want CBT in ntlmlib, raise an issue on ntlmlib tracker and we can discuss there.

I've implemented CBT before for an enterprise client before. If you want to have a go yourself the escalation en

[2016-08-02 18:27] rbcarson opened #76 "Create new release"
Please make a new release for the changes in #73. Thanks!

[2016-08-05 02:32] jborean93 commented on #71
I am preparing to create a pull request to python-ntlm3 to add NTLMv2 support in the library. Thanks to @ianclegg for his wonderful work in his library and just scouring the MS-NLMP documents I believe I have been able to get it working in that library. Just need to tidy up a few things and make it more presentable than the mess it is currently in right now.

Hopefully this will make it easy to ad

[2016-08-05 11:44] ianclegg commented on #71
@jborean93 Have you implemented channel binding in ntlmlib? I'd be interested to see the patch - I was going to look into myself this weekend.

[2016-08-05 11:57] jborean93 commented on #71
Unfortunately no, I haven't tested that component yet as I am trying to make the current changes up to scratch before trying. Theoretically based on the documentation and what I found in your library and the ruby one it should work but judging how my previous changes went there will be some more work required.

I had a quick look at the documentation and from what I understand I need to use the GS

[2016-08-05 13:43] ianclegg commented on #71
@jborean93 More time always helps. [GSS API is a high-level, imperative (C style) API specification](https://tools.ietf.org/html/rfc2743), there are implementations for various authentication mechanisms (normally in C/C++) on Linux and Windows. The NTLM protocol spec's refer to a Microsoft specific GSS implementation provided in Win32's SSPI and ultimately implemented in the various security packa

[2016-08-07 08:07] jborean93 commented on #71
Have finally gotten a pull request happening to add NTLMv2 support https://github.com/trustrachel/python-ntlm3/pull/21. It will ultimately require some changes to requests-ntlm as it currently doesn't have the necessary information right now to support it.

Hopefully the owner is still active and we can look at this pull request and make the changes required to get this in and packaged.

@ianclegg

[2016-08-07 20:15] jborean93 commented on #75
Just an update on this, I have created a pull request https://github.com/trustrachel/python-ntlm3/pull/21 to add both NTLMv2 support (required for CBT) and CBT functionality. This will require some changes to requests-ntlm to support but it won't be anything major.

[2016-08-07 20:17] jborean93 commented on #71
Sorry for spamming this thread but I have updated my pull request to also include Channel Binding Tokens. I have managed to get it working and have added the changes to my pull request.

[2016-08-25 02:01] jborean93 opened #77 "Change NTLM dependency"
Hi

I have had a pull request open for around 18 days to update python-ntlm3 to support the extra security features of NTLM that were missing but it so far hasn't been looked at. This pull request will fix the issues raised https://github.com/requests/requests-ntlm/issues/71 and https://github.com/requests/requests-ntlm/issues/75.

After trying to get in contact with the maintainer and also talkin

[2016-08-29 06:29] jborean93 commented on #77
Just an update to this, I have gone ahead and made a pull request that changes the python-ntlm3 dependency to ntlm-auth which has all the features I tried to put in with the pull request to python-ntlm3.

The pull request for this is here https://github.com/requests/requests-ntlm/pull/79

[2016-08-29 14:30] sigmavirus24 commented on #77
Hi @jborean93 changing dependencies is not something we do lightly. If we do change libraries, it will need to be a longer deprecation cycle than what you waited for in having your pull request merged. I'm going to see if I can get in touch with Rachel again.

[2016-08-29 14:36] jborean93 commented on #77
Sounds fair, let me know how you go with this.

[2016-09-06 11:35] jborean93 commented on #77
@sigmavirus24 any luck with this?

[2016-09-21 17:16] oliparcol opened #82 "Correct flags should be passed to python-ntlm3 when no domain is used"
Hello,

When there is no domain in the login (e.g. ``\\mylogin``), the flag ``ntlm.NTLM_TYPE1_FLAGS & ~ntlm.NTLM_NegotiateOemDomainSupplied`` should be passed to the ``create_NTLM_NEGOTIATE_MESSAGE`` function. Without this flag, the authentication fails.

Thank you,

[2016-09-22 08:41] Lukasa commented on #82
Thanks for this suggestion! So I note that you've placed a patch in your fork but haven't submitted it as a PR. Any reason for that?

[2016-09-24 11:38] oliparcol commented on #82
Sorry, I just created the PR.

[2016-10-12 13:16] #82 closed

[2016-12-02 12:26] #77 closed

[2016-12-03 06:10] jborean93 commented on #76
@Lukasa don't mean to be annoying here but is there a normal process to creating a release. Do you usually wait a few weeks before doing it?

[2016-12-03 06:11] jborean93 commented on #71
NTLMv2 auth support has been added with https://github.com/requests/requests-ntlm/pull/84.

[2016-12-03 08:58] #71 closed

[2016-12-03 08:58] Lukasa commented on #76
@jborean93 I normally wait a brief period of time in the hope that anyone who is working against master will spot the most egregious problems, and that the changes can bake.

However, I have a todo item for a release next week.

[2016-12-03 08:58] #76 closed

[2016-12-03 09:25] jborean93 commented on #76
Thanks for the info, let me know if you need anything from me.

[2016-12-12 11:38] slukovic opened #85 "UPN (kerberos-style) usernames and domain"
Hi,

I have to connect to a mail server (Exchange) where emails are used as usernames. At the moment `HttpNtlmAuth` constructor finds `@` in my username [here](https://github.com/requests/requests-ntlm/blob/master/requests_ntlm/requests_ntlm.py#L31) and splits it into a domain and username pair.

This was added in @nitzmahone's pull request https://github.com/requests/requests-ntlm/pull/68.

In th

[2016-12-12 15:44] Lukasa commented on #85
Ultimately, I'm not sure.

The document you linked points out that there is an unavoidable ambiguity here: there are multiple possible parsing variations that ultimately look the same and cannot be reliably distinguished. That does rather suggest that taking an optional `domain` parameter in the constructor would be the way to go.

I'd be open to merging a PR that adds that functionality.

[2016-12-13 15:47] slukovic commented on #85
Hi guys,

I pushed a provisional commit. I left two comments there. I wasn't sure about backwards compatibility of `__init__` and what should be the default domain.

[2016-12-16 15:05] prokopst opened #87 "requests-ntlm sends POST/PUT data three times"
HttpNtlmAuth sends data three times for POST and PUT.

The flow is following:
- a program sends a POST/PUT request
- before the request is send, HttpNtlmAuth prepares the request, sets a hook on response
- the whole request is sent, data included
- server returns 401
- HttpNtlmAuth recognizes 401 and does retry_using_http_NTLM_auth
- sends the data again
- sends the data again, this time 200 is ex

[2016-12-16 15:15] prokopst opened #88 "Streaming upload does not work"
It seems that streaming upload does not work, most likely because the file is reset [only once](https://github.com/requests/requests-ntlm/blob/master/requests_ntlm/requests_ntlm.py#L55). This is related to #87, because the data is sent three times.

For example code similar to this snippet does not work, it's always stuck:

    session = Session(auth=HttpNtlmAuth(username, password))
    with open

[2016-12-16 21:31] Lukasa commented on #88
Yeah, this looks like a bug. I think we'd need to use some of the code in the newer versions of Requests for seeking back the body if possible.

I'm on holiday for the rest of the year which means that I won't be able to get to this until next year, but I am happy to review patches if anyone feels like tackling this.

[2016-12-16 21:33] Lukasa commented on #87
Yeah, this is a real problem, but there is very little we can do about it at the moment. Unfortunately, the way urllib3/requests is structured, it is not easily possible to intervene when sending data in situations like this to *conditionally* wait for an auth challenge that may or may not appear.

The easiest way to resolve this is to open a `Session` and send a `get` to a well-known URL when you

[2016-12-16 21:33] #87 closed

[2016-12-17 06:18] prokopst commented on #87
I think I don't understand - I (the user) explicitly passed HttpNtlmAuth either to the request or to the session, so NTLM authentication is expected.

I would just:
* send the request without data if the connection is not authenticated and with prepared auth headers
* expect 401/407, otherwise fail horribly (hey user, you said you expect NTLM, but that's totally not true!)
* send the request with

[2016-12-17 14:29] Lukasa commented on #87
@prokopst The auth challenge is expected by *the user*, but it may not appear. If we unconditionally waited for an auth challenge, that would impose a fixed latency on requests that expected auth but were not challenged, which is an unacceptable performance limitation.

The TL;DR is: yes, Requests expects auth to be optional, and if you aren't challenged then everything is ok.

[2016-12-27 22:26] nateprewitt commented on #88
It looks like this would be a pretty simple fix with `rewind_body` from 2.12.4. Are we alright requiring the latest version of requests being the minimum version for this module? If so, I can look into integrating it.

[2017-02-22 20:04] densminger opened #90 "Traceback occurred"
Trying to authenticate to Sharepoint via NTLM, and I'm getting the following Traceback:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/requests-2.2.0-py2.7.egg/requests/api.py", line 55, in get
    return request('get', url, **kwargs)
  File "/Library/Python/2.7/site-packages/requests-2.2.0-py2.7.egg/requests/api.py", line 44, in

[2017-02-22 20:09] Lukasa commented on #90
Huh, Requests 2.2 is quite old. I wouldn't be at all surprised to find that that has busted our assumption about where things are. Can you try upgrading your requests?

[2017-02-22 20:18] densminger commented on #90
I upgraded to requests-2.13 and that fixed the issue.

[2017-02-22 20:18] Lukasa commented on #90
Cool. We should probably work out what the actual required Python version is and update our `setup.py` accordingly.

[2017-02-22 20:27] #90 closed

[2017-04-06 13:30] bao7uo opened #91 "pass the hash"
Comments in the source code says this supports pass the hash... however, I have had a look through the source code and cannot find this functionality.

Am I missing something?

[2017-04-06 13:32] Lukasa commented on #91
No, it looks like pass-the-hash was removed a long time ago.

[2017-04-06 14:10] bao7uo commented on #91
ok.. thanks for the confirmation

[2017-04-06 14:10] #91 closed

[2017-04-30 08:42] itaykrk opened #92 "pass the hash is not working"
Hi,
I'm trying to pass the hash and i saw the following comment in your code: "Supports pass-the-hash". so how it works? i tried to just pass password equals to the ntlm hash but it doesnt work.

[2017-04-30 10:36] Lukasa commented on #92
That code comment is wrong, sorry. 🙁

[2017-04-30 10:36] #92 closed

[2017-05-15 11:56] tightdelay opened #93 "Jupyter:"No module named requests_ntlm" (Still working with sublime)"
When I use

the code works fine in Sublime.

But when I try the same code in Jupyter, it gives the following error:

Any Ideas?

[2017-05-15 11:57] Lukasa commented on #93
Sounds like whatever Python environment you installed requests-ntlm is different to the one you installed Jupyter into. Find whatever Python environment you installed Jupyter into and use `pip` to install requests-ntlm into the same one.

[2017-05-15 11:57] #93 closed

[2017-06-07 16:10] mikeyg123 commented on #65
I have the same problem - however I'm using a java jespa based server which I can debug.

The server works with curl, chrome, ie etc.  Debugging the server I can see the ntResponse is a 24 byte array.

Looking at the response from requests-ntlm I see the ntResponse is a 158 byte array. The authentication server then rejects this with error -1073741715 (0xc000006d)
All the documentation I've found

[2017-06-12 08:26] mikeyg123 commented on #65
Update:
I got this working by downgrading to requsts-ntlm 0.3.0
`pip install requests-ntlm==0.3.0`

[2017-07-10 08:13] H5a337230 opened #95 "NTLM Auth Over SSL"
Hi
I have tried to connect to website using this package over ssl and used below code.

[code]

but I get below error.
`bad handshake: SysCallError(-1, 'Unexpected EOF')`

also I tried with custom HTTPAdapter and again that error
Any suggestion?

[2017-07-10 08:19] Lukasa commented on #95
There is no need to call `inject_into_urllib3` yourself: Requests will call it for you.

Otherwise, this error means that the remote server is refusing our TLS connection attempt, likely because we don't support the same cipher suites it does. Is the server you're contacting publicly reachable? If not, you might want to try enabling 3DES [as shown in this blog post](https://lukasa.co.uk/2017/02/Co

[2017-07-10 08:56] H5a337230 commented on #95
I tried with different context and CTX_ciphers but it gives me certificate verify error (in code: verify = true) and also i tried with server certificate.

Yeap, its publicly reachable

[2017-07-10 08:57] Lukasa commented on #95
If you're getting verification errors that's a step forward: it means the server is getting far enough to show us a certificate, and we don't like it.

Can you give me the hostname? I want to check the server.

[2017-07-10 09:09] H5a337230 commented on #95
sorry, for security reasons i can not give you hostname but you can tell me what i should to do

[2017-07-10 09:15] H5a337230 commented on #95
here is the full error
`bad handshake: Error([('SSL routines', 'SSL3_GET_SERVER_CERTIFICATE', 'certificate verify failed')],)`

[2017-07-10 09:16] Lukasa commented on #95
That error suggests that the TLS certificate isn't valid. If you run `openssl s_client -connect "host:port" -showcerts` and provide the output that would be helpful.

[2017-07-10 09:29] H5a337230 commented on #95
part of output:

[code]

[2017-07-10 09:29] Lukasa commented on #95
Sorry, I need the big PEM blocks.

[2017-07-10 09:35] H5a337230 commented on #95
-----BEGIN CERTIFICATE-----
MIIFGzCCBAOgAwIBAgIQT3pARd9sigEDDHV0VdGaaDANBgkqhkiG9w0BAQsFADB+
MQswCQYDVQQGEwJVUzEdMBsGA1UEChMUU3ltYW50ZWMgQ29ycG9yYXRpb24xHzAd
BgNVBAsTFlN5bWFudGVjIFRydXN0IE5ldHdvcmsxLzAtBgNVBAMTJlN5bWFudGVj
IENsYXNzIDMgU2VjdXJlIFNlcnZlciBDQSAtIEc0MB4XDTE1MDkxMzAwMDAwMFoX
DTE3MTAxMjIzNTk1OVowgZcxCzAJBgNVBAYTAk5QMRAwDgYDVQQIEwdCYWdtYXRp
MRIwEAYDVQQHFAlLQVRITUFORFUxLDAqBgNVBAoUI0NpdGl

[2017-07-10 09:38] Lukasa commented on #95
Can you try adding `verify=certifi.old_where()`? You'll need to `import certifi` as well.

[2017-07-10 09:42] H5a337230 commented on #95
checked
again error
`bad handshake: Error([('SSL routines', 'SSL3_GET_SERVER_CERTIFICATE', 'certificate verify failed')],)`

[2017-07-10 09:43] Lukasa commented on #95
Hrm. How many certs is the server sending?

[2017-07-10 09:44] H5a337230 commented on #95
can it be because of the user-agent that i am using?

[2017-07-10 09:45] Lukasa commented on #95
No, the user-agent isn't sent until after the TLS handshake completes.

[2017-07-10 09:45] Lukasa commented on #95
I think the remote server is sending an incomplete cert chain.

[2017-07-10 09:48] H5a337230 commented on #95
Its just one cert and then closed with error
`read:errno=104
`

[2017-07-10 09:49] Lukasa commented on #95
Yup, so I think this is an incomplete cert chain: we're missing some intermediates. Can you copy the file that is at the path provided by `python -c 'import certifi; print(certifi.old_where())'` to somewhere, then open that file and add this to the bottom?

[code]

[2017-07-10 09:52] H5a337230 commented on #95
Ok, but I would appreciate it if you delete PEM block
thanks

[2017-07-10 09:53] Lukasa commented on #95
There is nothing private in a certificate block: they contain no secret data.

[2017-07-10 10:02] H5a337230 commented on #95
I know its public but i think it contain hostname

[2017-07-10 10:02] H5a337230 commented on #95
BTW, Added.
So, what now?

[2017-07-10 10:05] Lukasa commented on #95
@H5a337230 Try again. =) You need whatever change you made to get the `certificate verify failed` error, then set `verify=/path/to/the/file/you/just/created` and see if that works.

[2017-07-10 10:16] H5a337230 commented on #95
![code](https://user-images.githubusercontent.com/28677572/28013486-204d6c8a-6561-11e7-9ff2-fd8ecf3cdf8c.png)
![resault](https://user-images.githubusercontent.com/28677572/28013492-27e39852-6561-11e7-972b-250a589968a0.png)

[2017-07-10 11:29] Lukasa commented on #95
Did you add the PEM data I posted to that certifi bundle?

[2017-07-10 11:51] H5a337230 commented on #95
YEAP

[2017-07-10 11:53] Lukasa commented on #95
Hrm. This is now extremely problematic. Try `openssl s_client -connect "host:port" -CApath /usr/local/lib/python2.7/dist-packages/certifi/weak.pem`

[2017-07-10 12:30] H5a337230 commented on #95
No difference from the previous one in result

[2017-07-10 12:31] Lukasa commented on #95
Humor me and show me the output?

[2017-07-10 12:45] H5a337230 commented on #95
![resu](https://user-images.githubusercontent.com/28677572/28018659-08d1c32a-6576-11e7-96b4-3aa517450587.png)

[2017-07-10 12:47] Lukasa commented on #95
Ideally in text form, and *all* the output if possible. Please also add `-showcerts`.

[2017-07-10 12:48] Lukasa commented on #95
(You can leave out the PEM data, so long as you leave the `---BEGIN---` and `---END---` bits: I need to see where they are in the data.)

[2017-07-11 20:13] H5a337230 commented on #95
FIXED, The problem was on the server side [ server certificate ]

[2017-08-02 15:29] mphuie opened #96 "error on python 3.6 - TypeError: cannot use a string pattern on a bytes-like object"

[2017-08-02 15:30] mphuie commented on #96
`   if re.match(r'^[a-fA-F\d]{32}:[a-fA-F\d]{32}$', password):
  File "/usr/local/Cellar/python3/3.6.2/Frameworks/Python.framework/Versions/3.6/lib/python3.6/re.py", line 172, in match
    return _compile(pattern, flags).match(string)
TypeError: cannot use a string pattern on a bytes-like object`

[2017-08-02 15:34] Lukasa commented on #96
Can you provide the *full* traceback please?

[2017-08-02 15:37] mphuie commented on #96
Full trace

`Traceback (most recent call last):
  File "<project-path>/env/lib/python3.6/site-packages/flask/app.py", line 1997, in __call__
    return self.wsgi_app(environ, start_response)
  File "<project-path>/env/lib/python3.6/site-packages/flask/app.py", line 1985, in wsgi_app
    response = self.handle_exception(e)
  File "<project-path>/env/lib/python3.6/site-packages/flask/app.py", line 1

[2017-08-02 16:09] Lukasa commented on #96
This looks like your password is a byte string: it needs to be a Unicode or native string. Change that and you should be golden.

[2017-08-02 16:09] #96 closed

[2017-09-21 21:18] chriscate opened #98 "Comparison to ntlm3 usage?"
Thanks for picking up and continuing the work of `ntlm3`! Question... I used to use `ntlm3` like this:

[code]

Can I achieve the same functionality with `requests_ntlm`?  If so, how? I've not been able to figure it out. Thanks!

[2017-09-24 12:37] WillBishop opened #99 "ImportError: No module named 'requests.packages'"
On a fresh install of Ubuntu 14.04, requests_ntlm isn't working.

[code]

`import requests` works fine.

Any ideas?

[2017-09-24 12:38] WillBishop commented on #99
`pip3 install requests --upgrade` fixed this issue

[2017-09-24 12:38] #99 closed

[2017-09-25 12:43] sigmavirus24 commented on #98
@chriscate This is not a fork of `ntlm3`. This is a library that builds on top of it to provide NTLM authentication mechanisms for the Requests library.

[2017-09-25 12:43] #98 closed

[2017-09-28 06:48] jborean93 opened #100 "Make a new release?"
Hi

Any chance we could get a new release of requests-ntlm made? There are 2 changes I see that would be good to get live in Pypi;
* Correct parsing of UPN usernames
* CBT support for cert's hashed with SHA384 and SHA512

Thanks

[2017-10-18 00:16] jborean93 commented on #100
Release was made for v1.1.0

PyPI - https://pypi.python.org/pypi/requests_ntlm
Github - https://github.com/requests/requests-ntlm/releases/tag/v1.1.0

[2017-10-18 00:16] #100 closed

[2017-10-18 00:17] #95 closed

[2017-10-18 00:17] #85 closed

[2017-10-18 00:17] jborean93 commented on #85
The v1.1.0 release contains the fix for correctly parsing UPN usernames.

[2017-11-28 13:58] pshen opened #101 "pip crashed after installation of requests_ntlm"
Hi all,

in a fresh Ubuntu 16.04 LTS instance, after installation of requests_ntlm package via pip, pip crashed just right after.

Installation.

[code]

Right after installation.
[code]

[2017-11-28 14:16] pshen commented on #101
I found a workaround.

Before install requests_ntlm, the pip version from Ubuntu is 8.1.1.

If I run a "pip install --upgrade pip", and then install requests_ntlm package, the pip will not crash.

[2017-12-17 00:08] jborean93 commented on #101
That isn't a workaround but what you should be doing in this case. Over time newer features are added to the pypi and the packaging process that requires both pip and setuptools to be on a newer release.

[2017-12-17 00:08] #101 closed

[2018-01-04 12:59] Kenith opened #102 "[Bug] Not Working with requests prepare"
Hello,

We found that the requests-ntlm not working with requests prepare.

Not Working if you write as this:

[code]

Working with following:
[code]

[2018-01-04 13:34] Kenith opened #103 "[Bug] Cannot working if under retry"
Hello,

The requests-ntlm is not working if the requets is under retry:

[code]

[2018-01-04 13:46] Kenith commented on #103
Found the cause:

because in my status_forcelist, there is: 401.
I removed it, works.

But why with the 401, the request-ntlm not working?

[2018-01-07 22:22] jborean93 commented on #103
Probably because NTLM authentication relies on receiving 401 responses. It works like

* Send un authenticated request
* Receive 401 response with header that lists supported auth mechanisms
* Send NTLM negotiate message
* Receive 401 response with NTLM challenge message
* Send NTLM authenticate message
* Receive 200 response as user is now authenticated.

I don't know how the Retry operations cha

[2018-01-15 17:45] railocius opened #104 "Problem with NTLM-authenticate proxy for HTTPS CONNECT"
Hi,
I try to use HttpNtlmAuth to use for a NTLM proxy authentication request.

tested with Python 2.7.10 (default, May 23 2015, 09:40:32) [MSC v.1500 32 bit (Intel)]:

[code]
The last error message from the call stack is:
[code]

I checked with Wireshark (and Npcap for loopback connection monitoring) and the HTTP connection looks like this:
HTTP GET:
Packet 1, request:   GET http://neverssl.com/
P

[2018-01-19 13:08] dassio commented on #102
have you tried to use `res = session.send(session.prepare_request(req))` , i see from [here](http://docs.python-requests.org/en/master/user/advanced/), `req.prepare()` way seems to lost session-level state. i do not have a NTLM server around will try it later.

[2018-01-21 14:11] sigmavirus24 commented on #102
@dassio is correct. The correct way to utilize session-level authentication is to use `session.prepare_request`. Based on your sample code, however, it's not apparent you need to use such a low-level function.

[2018-01-21 14:11] #102 closed

[2018-02-07 23:35] kevr opened #105 "not available from ubuntu repositories"
I would definitely like to see this in the official Ubuntu repositories somewhere. pip is great, however, using packages available via official repositories provides us a certain level of security in that the packages available and compatible with the paired version of python-requests would be stable and without the ability to break compatibility in the future unknowingly.

[2018-02-23 23:49] kevr opened #106 "Can't install via pip (versioning issue with crypography)"
While trying to fetch requests-ntlm via pip2 on Ubuntu 14.04

[code]

[2018-02-24 00:03] #106 closed

[2018-02-28 03:31] chenming1986 commented on #65
I was facing the same problem and @mikeyg123 's comment fixed it. Thanks!

[2018-03-04 09:40] markruys opened #107 "UseDefaultCredentials"
We currently use a PowerShell command to push files into a SharePoint server like:
[code]
I would like to do this request-ntml, but I can't find how to use UseDefaultCredentials. Is this possible at all?

[2018-03-06 09:05] #107 closed

[2018-03-26 12:30] achapkowski opened #108 "Deprecation Warning"
Hello,

I am getting the following deprecation warning:

"PendingDeprecationWarning: HMAC() without an explicit digestmod argument is deprecated."

Just wanted to let you know this is happening with the latest release.

Thanks

[2018-03-26 12:50] sigmavirus24 commented on #108
@achapkowski could you provide more information? What versions of this library and its dependencies are installed? What version of Python?

[2018-03-26 14:17] achapkowski commented on #108
Sure thing

Version information:

requests                  2.13.0                   py35_0
requests-kerberos         0.11.0           py35h2d28538_1    anaconda
requests-oauthlib         0.8.0                    py35_1    conda-forge
requests-toolbelt         0.8.0                    py35_0    conda-forge
requests_ntlm             1.0.0                      py_0    conda-forge

[2018-03-27 02:09] jborean93 commented on #108
This was an issue with ntlm-auth and was recently updated, are you able to make sure `ntlm-auth` is updated to version `1.1.0` https://github.com/jborean93/ntlm-auth/releases/tag/v1.1.0.

[2018-03-27 09:34] achapkowski commented on #108
thanks, will do.

[2018-04-13 22:14] douglasquintanilha commented on #65
Same problem, @mikeyg123 solution worked for me, thanks man.

[2018-06-26 22:55] ofek commented on #88
Has this been fixed?

[2018-07-03 15:00] kamikaze commented on #88
it seems that this project is abandonned

[2018-09-05 08:49] iyanmv commented on #104
Hi @railocius! I have opened an issue in ``urllib3`` repo: https://github.com/urllib3/urllib3/issues/1434

[2018-09-25 01:30] rjsquire commented on #90
Has anyone seen this issue lately?

I have the following packages installed:
[code]
`Python 2.7.14`

The code that actually throws the exception:
[code]

The output that I'm seeing is:
[code]

[2018-10-07 04:15] YuMan-Tam commented on #104
I have exactly the same issue. The problem seems to have nothing to do with ```requests-ntlm```. I believe, for ```https```, somehow ```urllib3``` encounters the error before it uses the mechanism in ```requests-ntlm``` (I did ```print``` statements in the package but nothing was printed). This only happens in ```https``` but not ```http```.

[2018-10-16 15:37] YuMan-Tam commented on #104
See my hack here if this is helpful: https://github.com/urllib3/urllib3/issues/1434#issuecomment-430284381

[2018-11-13 14:50] queso1307 opened #110 "Cannot authenticate with usermnames containing 'ä','ö','ü'"
I am trying to connect to a Windows2012r2 Server running IIS8 from my Ubuntu 16.04 machine.
My username contains a 'ä'.
When calling:
[code]
i get this Error:
`
Traceback (most recent call last):
  File "/work/test/ntlmtest.py", line 7, in <module>
    session.get("https://win2012r2-1.dev.test/RDWeb/FeedLogin/WebFeedLogin.aspx", verify=False)
  File "/home/IGEL/arlt/.local/lib/python3.5/site-packa

[2018-11-22 13:59] Alan564 opened #111 "Ntlm warnings"
When using the exchangelib, warnings from the Ntlm library are displayed.
`/ntlm_auth/ntlm.py:149: DeprecationWarning: Using Ntlm() is deprecated and will be removed in a future version. Use NtlmContext() instead`
![2018-11-22 15-55-58](https://user-images.githubusercontent.com/35463265/48904346-24253980-ee6f-11e8-9949-b0e5ff8c68c9.png)

https://github.com/jborean93/ntlm-auth/commit/25c6a00a1e9596

[2018-12-04 21:14] dedaimia opened #113 "Support for passing "workstation""
Our authentication servers will reject NTLM requests (return 401 Unauthorized) if a workstation is not passed as well as username, password, and domain.  Has there been any consideration to adding workstation as an optional field?

[2019-03-22 14:28] ubalklen opened #114 "Checking for NTLM"
I want to make some requests but I'm not sure which ones need NTLM authentication. Is there a way to check for NTLM before sending the request?

If not, is it OK to just include the paramater auth=HttpNtlmAuth('domain\\username','password') in every request?

[2019-05-14 07:47] mikeyg123 commented on #65
The problem has been clearly shown to be an issue with the ntResponse
This should be pretty simple for someone who knows the code to fix
yet years go by
and nothing happens

[2019-05-22 21:56] vineetparikh opened #115 "Pip installation segfaults"
`pip install requests-ntlm` segfaults on my machine. I'm running Ubuntu 18.04, I have pip version 9.0.1, and while `sudo -H pip install requests-ntlm` seems to work, I want to ensure that the normal setup would work within a Dockerfile as well. Is there anything I'm doing wrong within my pip installation attempt that would cause this segfault?

[2019-05-29 06:08] ecederstrand commented on #114
It's OK to always pass an Ntlm auth object in the request. The Ntlm auth process is only invoked if an HTTP 401 is received from the server. See: https://github.com/requests/requests-ntlm/blob/f71fee60aa64c17941114d4eae40aed670a77afd/requests_ntlm/requests_ntlm.py#L140

[2019-06-01 14:23] ubalklen commented on #114
Can a malicious site fake a 401 response and exploit my requests in some
way? I will check random sites and since I'm passing credentials I'm a bit
worried.

[2019-06-01 17:00] ecederstrand commented on #114
You should never send your credentials to sites you don’t trust. That goes for NTLM as well as other auth methods. What you are describing compares to clicking on links in random e-mails and blindly entering your credentials.

[2019-06-01 21:33] ubalklen commented on #114
Is that a fair comparison? If a user access a legitimate NTLM protected
site that he has the proper authorization, he gets a 200 response. If the
same user access a NTLM protected malicious site and doesn't type anything,
the site can't steal those credentials, right?

I want to emulate the behaviour of a user using a browser. In other words,
I want to make requests to all sort of sites, get a 200

[2019-06-03 05:44] ecederstrand commented on #114
I think it's a fair comparison. If the integrity of your credentials rely on an untrusted site *not* sending an HTTP 401, then you don't have any real security.

That's not how NTLM works. You start by getting an HTTP 401, then you do the auth dance, then you get an HTTP 200.

By providing `requests` with an auth object, you are telling `requests` that it is free to attempt a login with your crede

[2019-06-06 21:02] ubalklen commented on #114
Alright, thanks @ecederstrand!

[2019-06-06 21:02] #114 closed

[2019-08-02 21:37] wy193777 opened #117 "Want to add a type stub so it can works fine with python 3 type hints and mypy?"

[2019-08-07 13:00] sdmorel opened #118 "Requests is running with a non urllib3 backend - NoCertificateRetrievedWarning"
Hello,

I'm testing Rundeck with WinRM against a Windows server using NTLM authentication.
I run into a similar situation to the one described here https://github.com/requests/requests-kerberos/issues/128

I followed the same steps, added some print lines at [L198](https://github.com/requests/requests-ntlm/blob/master/requests_ntlm/requests_ntlm.py#L198)
[code]

And got:
[code]

I'm not sure what'

[2019-08-28 08:19] smurancsik commented on #115
I am experiencing the same issue under Raspbian, with Pip version 9.0.1.

[2019-09-25 09:42] Stefano-Pedretti opened #119 "SSO doesn't work with urllib >= 1.25.4"
Hi all,
not sure where the issue stands (on ntlm or urllib) but STS SSO failes with URLLIB >= 1.25.4

Server returns an error.

Works fine up to urllib==1.25.3

[2019-09-25 10:25] zuizuihao commented on #119
thank you very much

[2019-12-30 09:28] dopstar commented on #104
see follow up comment: https://github.com/urllib3/urllib3/issues/1434#issuecomment-569624928

[2020-02-15 08:45] dglent opened #120 "Cannot download with NTLM authentication if frozen with cx_freeze"
Hi

I have a problem when i run my code as frozen script.
No frozen it works
I am in entreprise proxy and the server is inside

requests version 2.21.0
requests_ntml version 1.4.0

session = requests.Session()
session.auth = HttpNtlmAuth(username, password, self.session)
req = session.get('http://nnnnnnn//nnnnn')

<class 'ValueError'>
unsupported hash type md4
-------------------------------------

[2020-02-15 13:11] dopstar commented on #120
Looks like its your environment that has a problem, can you double check by doing this on python shell

[code]

[2020-02-15 14:07] dglent commented on #120
I have this output (same in python 2.7 installation)
The error occurs only when the script is frozen...

[code]

[2020-02-17 05:23] dglent commented on #120
Ok, it needs the dll files in the frozen directory
https://github.com/anthony-tuininga/cx_Freeze/issues/587

[2020-02-17 05:23] #120 closed

[2020-02-19 17:09] Sl1ckR1ck opened #121 "Be able to use with msrest"
Hi, whenever i try to use this authentification with a package that uses msrest, i get a AttributeError: 'HttpNtlmAuth' object has no attribute 'signed_session'.

It would be nice if it would be supported (and possible?)

[2020-02-27 01:04] dopstar commented on #121
@Sl1ckR1ck please provide full traceback of the error

[2020-03-11 19:46] Sl1ckR1ck commented on #121
Hi, sorry for the delay.

Here is the traceback:

Traceback (most recent call last):
  File "c:\Users\eric\.vscode\extensions\ms-python.python-2020.2.64397\pythonFiles\ptvsd_launcher.py", line 48, in <module>
    main(ptvsdArgs)
  File "c:\Users\eric\.vscode\extensions\ms-python.python-2020.2.64397\pythonFiles\lib\python\old_ptvsd\ptvsd\__main__.py", line 432, in main
    run()
  File "c:\Users\er

[2020-03-11 20:29] dopstar commented on #121
@Sl1ckR1ck can you add code snippet as well

[2020-03-11 23:32] Sl1ckR1ck commented on #121
Here it is.

However this will work best if you have a TFS Server available.

`from typing import Sequence
from typing import List

def main(p_Args:Sequence[str]) -> int:
	from azure.devops.connection import Connection
	from msrest.authentication import BasicAuthentication
	from requests_ntlm import HttpNtlmAuth #type: ignore

	p_UserName = "MyUserName" #change this to your TFS user name.
	p_UserP

[2020-08-04 11:22] dbergamin opened #122 "io.UnsupportedOperation: can't do nonzero cur-relative seeks"
When doing PUT/POST this seems to run into an issue on Python 3 where streams are functioning slightly differently.

[code]

Tested with 3.6 and 3.8, using requests_ntlm module to send a PUT or POST request:
[code]

[2020-08-04 11:25] dbergamin commented on #122
At this point I don't fully understand the issue beyond what seems obvious. Wondering if would need to do something like https://2.python-requests.org/en/v3.0.0/_modules/requests/auth/ to record offset position at points in time, and then seek back to it. Would this be a viable option?

[2020-08-04 15:18] dbergamin commented on #122
For any others with the same issue, I could not find a simple workaround to get this going. I would suggest using https://github.com/pycurl/pycurl (for now) if you have a need to PUT/POST things to an NTLM authed endpoint using python 3.

[2020-08-17 22:16] AhrimanSefid opened #123 "Error ImportError: No module named requests_ntlm winodws"
Hi All.
very try and install but not work.
can help me?
os win 10 x64
pay 3.8.5 x64

$ 1.py
Traceback (most recent call last):
  File "H:\test\1.py", line 9, in <module>
    from requests_ntlm import HttpNtlmAuth
ImportError: No module named requests_ntlm

[2020-09-18 12:15] De-Man opened #124 "Unable to use ntlm to auth proxy"
Hi team, thank you for putting request-ntlm together.

A problem I am having is: I am trying to get through a proxy that is using ntlm.

Does this module include functionality for this. I only see this working if the end-point needs ntlm.

Thank you

[2020-09-18 12:17] De-Man commented on #124
Repeat question. Closing. Apologies.

[2020-09-18 12:17] #124 closed

[2021-03-25 15:38] KyleKing opened #125 "Replace ntlm-auth with pyspnego?"
I was checking the status of this project and saw that [ntlm-auth](https://github.com/jborean93/ntlm-auth) is now deprecated in favor of [pyspnego](https://github.com/jborean93/pyspnego)

Is there any interest in approving a PR for `pyspnego`? I saw that #116 and #109 have stalled

[2021-04-06 08:21] #125 closed

[2021-04-06 08:23] KyleKing commented on #125
Where I was using ntlm will be replaced with a datamart, so I don't think I'll have a use case

[2022-02-05 01:30] TheTechromancer commented on #36
I'm running into the same error with the following response, where the `www-authenticate` header is capitalized.
[code]

[code]

[2022-05-20 16:10] #37 closed

[2022-08-09 09:09] chahilp commented on #104
I had exactly the same issue and though of making changes to the libraries, but it didn't allow me as the libraries are  administrator controlled. But it worked for me the other way by downloading the cntlm from official repo [https://sourceforge.net/projects/cntlm/files/cntlm/cntlm%200.92.3/](url) and configuring it as recommended in the proxy protected environment.

[2022-10-10 07:08] mohan78 opened #127 "Unsupported hash type 'md4' on Ubuntu 22"
We are using this project to perform authentication. Recently, we thought of upgrading the ubuntu distro we are using to 22 (jammy). After we upgrade the distro, we are getting an error "Unsupported hash type 'md4'" from hashlib inside `ntlm-auth`. Is there any work-around or known solution to this issue?

Thanks in advance.